@font-face {
	font-family: lcd_font;
	src: url(nokiafc22.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

.test {
	display: none;
}

html {
	font-size: 14px;
	font-family: Arial;
}

body {
	background-color: black;
}

button {
	border:none;
     cursor: pointer;
     user-select:none;
     -webkit-user-select:none;
     -moz-user-select:none;
     -ms-user-select:none;
}

.viewport {
	position:absolute;
	display: flex;
	flex-direction:column;
	width: 100%;
	height:100%;
	color: #FFDD00;
}

div {
	
}

.panel {
	position:relative;
	width: 800px;
	min-width:650px;
	height: 400px;
	margin: 20px;
	border: 1px solid orange;
}

.panel-fff {
	position:absolute;
	display:flex;
	flex-direction: column;
	top: 5%;
	left: 5%;
	width: 90%;
	min-width:580px;
	height: 90%;
	border: 4px solid red;
	border-radius: 25px;
}

.panel-inner {
	position:absolute;
	display:flex;
	flex-direction: column;
	top:5%;
	left:2.5%;
	height: 90%;
	width: 95%;
	border: none;
}

.panel-upper {
	display:flex;
	flex-direction: row;
	height:80%;
	border:none;
}

.panel-annunciators {
	flex-grow: 1;
	display:flex;
	flex-direction:column;
	user-select:none;
}

.panel-annunciators div {
	flex-grow:1;
	border: 1px solid orange;
	color: orange;
	text-align: center;
}

.panel-annunciators .lamp {
	width: 70%;
	margin: auto;
	height: 20px;
	border: none;
}

.panel-controls .lamp {
	width:10px;
	height:10px;
	margin:auto;
	border-radius:5px;
	background-color: orange;
}

.panel-annunciators .alarm {
	background-color: #FF0000;
}

.panel-annunciators .isol {
	background-color: #FFEE00;
}

.panel .unlit {
	background-color: #111122;
}

.panel .flashing {
	animation: flash 1s infinite;
}

@keyframes flash {
	0% {
		opacity: 0;
	}
	
	50% {
		opacity: 1;
	}
	
	100% {
		opacity: 0;
	}
}

.panel-display-container {
	flex-grow:1;
	width: 70%;
	position:relative;
	border:none;
} 

.panel-display-bezel {
	position:absolute;
	top:10%;
	left:5%;
	width: 90%;
	min-width:410px;
	height:80%;
	border:5px solid blue;
	border-radius: 10px;
	background-color: blue;
}

.panel-display {
	position:absolute;
	top: 5px;
	left: 5px;
	height:calc(100% - 10px);
	width:calc(100% - 10px);
	background-image: linear-gradient(to bottom right, #ccff99, #666633);
	box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.7) inset;
	border:none;
}

.panel-display-content {
	padding: 10px;
	font-family: lcd_font;
	font-size: 16px;
	//text-shadow: 1px 1px 10px #223322;
	color: #224422;
}

.display-line {
	height: 2em; 
}


.panel-lower {
	flex-grow: 1;
}

.panel-controls {
	height:100%;
	font-size: 0px;
}

.panel-controls button {
	height:100%;
	width: calc(100% * 1/7);
	vertical-align:top;
	border: 1px solid orange;
	background: none;
	color: orange;
	font-size: 0.9rem;
}

.left-info {
	float: left;
}

.right-info {
	float: right;
}

.extBell {
	position:absolute;
	right: -80px;
	width: 50px;
	height: 50px;
	text-align: center;
	font-size: 30px;
	border: 2px solid orange;
	border-radius:25px;
	background-color: #FF0000;
}

.blockplan {
	position: absolute;
	margin-left:20px;
	top: 400px;
	width: 1100px; /*will be set by blockplan background image dimensions*/
	border: 2px solid orange;
}

.blockplan-page {
	position:relative;
	width: 100%;
	height: 100%;
	background: no-repeat;
	background-size: cover;	
}

.blockplan-header, .blockplan-footer {
	position: relative;
	width: 100%;
	height: 50px;
	background-color: pink;
}

.blockplan-header {
	font-size: 30px;
}

.blockplan-content {
	height: 800px; /*will be set by blockplan background image dimensions*/
}

.blockplan-next, .blockplan-prev {
	background: none;
	top: 50%;
}

.blockplan-prev {
	left: -15px;
}

.blockplan-next {
	right: -15px;
}

.device-detector {
	position:absolute;
	width: 20px;
	height: 20px; /*dimensions to be set by blockplan */
	background-color: rgba(255,100,0,0.5);
}

.device-container {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 240px;
	height: 320px;
	border: 2px solid orange;
	background-color: rgba(255,255,0,0.2);
	color: black;
	opacity:0;
	transition: opacity 0.25s;
}

.device-image {
	margin:auto;
	margin-top:5px;
	width:200px;
	height:150px;
	background-color:white;
}

.device-body {
	width:95%;
	padding:5px;
	margin:auto;
	border: 2px solid orange;
}

.device-info {
	width:210px;
	margin:auto;
	margin-top:5px;
	background-color:snow;
}

.device-options {
	width:210px;
	margin:auto;
	margin-top:5px;
	background-color:gray;
}



/* control styles */



.interface-button {
	position:absolute;
	width: 30px;
	height: 30px;
	border: 2px solid orange;
	border-radius: 15px;
	font-size: 24px;
	text-align: center;
	color: orange;
	user-select: none;
}

.closeBox {
	top: -15px;
	right: -15px;
}




.update {
	display:none;
}


/* modal things */

.modal {
	display:none;
	position:fixed;	
	z-index: 2;
	width:100%;
	height:100%;
	left: 0px;
	top: 0px;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0,0.7);
}

.modal-content{
	position: relative;
	background-color: rgb(0, 0, 0);
	background-color: rgb(0, 0, 0, 0.7);
	margin: 5% auto;
	width: 80%;
	max-width: 400px;
	min-height: 35%;
	border-radius: 30px;
	padding: 15px;
	border: 2px solid white;
	color: white;
	user-select:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
	animation-name: animatetop;
	animation-duration: 0.4s;
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

@-webkit-keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

.modal-header {
	background-color: rgb(40,40,40);
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius:15px;
}

.modal-body {
	text-align: center;
	font-size: 1.1rem;
	display: flex;
	flex-direction: column;
}

.modal-section {
	padding:10px;
	text-align:center;
	margin-bottom: 20px;
	
}

.modal h3 {
	text-align: left;
	padding-bottom:10px;
}

.modal p {
	padding-top: 10px;
}

.modal .close {
	font-size: 30px;
	font-weight: bold;
	display:inline-block;
}

.modal .close:hover,
.modal .close:focus {
  color: #444444;
  text-decoration: none;
  cursor: pointer;
  transition:0.25s;
}

/* temporary classes (controlled through javascript) */

.show {
	display:block;
}

.show-flash {
	animation: flashon 0.25s 1;
		opacity: 1;
}

@keyframes flashon {
	from {
		opacity: 0;
	}
	
	to {
		opacity: 1;
	}
	

}

/*Mobile-portrait style */
@media only screen and (max-width: 700px),(orientation: portrait){
	

}

/*Landscape - tablet style*/
@media only screen and (min-width: 420px) {
	.viewport {
		flex-direction:row;
	}
	
	.modal-content {
		max-width:800px;
	}

	.modal-body {
		text-align: center;
		font-size: 1.1rem;
		display: flex;
		flex-direction: row;
	}

	.modal-section {
		margin-left:20px;
	}

	.modal h3 {
		text-align:center;
	}

	
}

